In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('customer_data.csv')

In [3]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [4]:
df.shape

(200, 29)

In [6]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,200.000000,200.000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.0,200.000000,200.0,200.0,200.000000
mean,5633.330000,1968.260,53405.395000,0.460000,0.515000,46.860000,321.005000,25.705000,183.475000,38.570000,...,5.280000,0.060000,0.095000,0.060000,0.050000,0.0,0.005000,3.0,11.0,0.150000
std,3270.834831,12.064,22701.597661,0.556731,0.566906,27.962832,333.053054,40.265176,264.816803,56.708326,...,2.486466,0.238083,0.293951,0.238083,0.218492,0.0,0.070711,0.0,0.0,0.357967
min,0.000000,1943.000,2447.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,3.0,11.0,0.000000
25%,2681.500000,1958.000,35842.500000,0.000000,0.000000,24.000000,21.500000,1.000000,16.000000,2.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,3.0,11.0,0.000000
50%,6038.000000,1969.000,53857.500000,0.000000,0.000000,47.000000,222.000000,7.000000,68.000000,11.500000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,3.0,11.0,0.000000
75%,8450.250000,1977.000,69406.000000,1.000000,1.000000,69.000000,524.000000,29.250000,266.750000,46.250000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,3.0,11.0,0.000000
max,11178.000000,1992.000,157243.000000,2.000000,2.000000,99.000000,1349.000000,194.000000,1725.000000,254.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,3.0,11.0,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 29 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   200 non-null    int64
 1   Year_Birth           200 non-null    int64
 2   Education            200 non-null    object
 3   Marital_Status       200 non-null    object
 4   Income               200 non-null    int64
 5   Kidhome              200 non-null    int64
 6   Teenhome             200 non-null    int64
 7   Dt_Customer          200 non-null    object
 8   Recency              200 non-null    int64
 9   MntWines             200 non-null    int64
 10  MntFruits            200 non-null    int64
 11  MntMeatProducts      200 non-null    int64
 12  MntFishProducts      200 non-null    int64
 13  MntSweetProducts     200 non-null    int64
 14  MntGoldProds         200 non-null    int64
 15  NumDealsPurchases    200 non-null    int64
 16  NumWebPurchases      200 non-null    int64
 17  NumCatalogPurchases  200 non-null    int64
 18  NumStorePurchases    200 non-null    int64
 19  NumWebVisitsMonth    200 non-null    int64
 20  AcceptedCmp3         200 non-null    int64
 21  AcceptedCmp4         200 non-null    int64
 22  AcceptedCmp5         200 non-null    int64
 23  AcceptedCmp1         200 non-null    int64
 24  AcceptedCmp2         200 non-null    int64
 25  Complain             200 non-null    int64
 26  Z_CostContact        200 non-null    int64
 27  Z_Revenue            200 non-null    int64
 28  Response             200 non-null    int64
dtypes: int64(26), object(3)
memory usage: 45.4+ KB